* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.body {
    background: whitesmoke;
    color: black;
}
.grid-layout {
    height: 650px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    align-self: center;
    grid-template-columns: auto auto;
    grid-template-areas: "header header"
    "main main"
    "nav nav"
    "footer footer";
    background-color: lavender;
    border: 1px solid black;
}
.caja {
    border: 4px solid black;
    background-color: lightcoral;
    text-align: center;
    padding: 20px;
}
.c1 {
    grid-area: header;
    background-color: lightcyan;

}
.c2 {
    grid-area: main;
    background-color: lightsalmon;
}
.c3 {
    grid-area: nav;
    border-radius: 20px;
}
.navegador {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

li {
    list-style-type: none;

}
.grid-layout .c3 .navegador li a {
    background-color:orange;
    color: azure;
    padding: 10px 32px;
    margin-bottom: 25px;
    border-radius: 25px;
    text-decoration: none;
    transition: all .5s;
}
.grid-layout .c3 .navegador a:hover {
    background-color: azure;
    color: orangered;
    transition: all .5s;
}
.c4 {
    grid-area: footer;
    background-color: lightyellow;
}
footer {
    width: auto;
    height: auto;
    background-size: cover;
    padding: 20px 15px;
}
.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    border-color: black 2px;
}